<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Read This To Me</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="page-header">
            <h1>Read This To Me</h1>
            <a href="javascript:window.location='http://rttm.herokuapp.com/submit?u='+encodeURIComponent(document.location)+'&t='+encodeURIComponent(document.title)"><span class="badge">Bookmarklet</span></a>
          </div>
          <form action="" method="POST">
            {{ with .Errors.Generic }}
              <div class="alert alert-danger" role="alert">
                {{ . }}
              </div>
            {{ end }}
            <div class="form-group {{if .Errors.URL}}has-error{{end}}">
              <label class="control-label">URL</label>
              <input type="url" class="form-control" name="url" value="{{ .URL }}" required>
              {{ with .Errors.URL }}<span class="help-block">{{ . }}</span>{{ end }}
            </div>
            <div class="form-group {{if .Errors.Title}}has-error{{end}}">
              <label class="control-label">Title</label>
              <input type="text" class="form-control" name="title" value="{{ .Title }}">
              {{ with .Errors.Title }}<span class="help-block">{{ . }}</span>{{ end }}
            </div>
            <div class="form-group {{if .Errors.Phone}}has-error{{end}}">
              <label class="control-label">Phone</label>
              <input type="tel" class="form-control" name="phone" placeholder="+15551234567" required>
              {{ with .Errors.Phone }}<span class="help-block">{{ . }}</span>{{ end }}
            </div>
            <button type="submit" class="btn btn-primary" data-loading-text="Sending...">Send</button>
          </form>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
      'use strict';

      $(function() {
        var $phone = $('input[name="phone"]'),
            $button = $('button.btn'),
            phone;

        $phone.val(localStorage.getItem('phone'));

        $('form').submit(function() {
          $button.button('loading');

          phone = $phone.val();

          if(phone) {
            localStorage.setItem('phone', phone);
          }
        });
      });
    </script>
  </body>
</html>
